
body{
  background-image: url("http://res.cloudinary.com/dnyy6kcjj/image/upload/v1502989869/board_b3ghor.jpg");
  background-size:cover;
  padding-top: 100px;
  padding-bottom:100px;
font-family: 'Open Sans Condensed', sans-serif;
}

.center{
max-width:350px;

margin:auto;
 color:white;

}
.display{
   text-shadow: 1px 1px #333333;
  text-align: center;
  color:#FFFFFF;
  text-shadow: 1px 1px #333333;
margin: auto;
line-height: 320px;
  background-image: url("http://res.cloudinary.com/dnyy6kcjj/image/upload/v1502989864/tomato_mjmmrp.png");
  background-size: 400px 350px;
  background-position: -30px -30px;
  font-family: sans-serif;
  font-weight:bold;
  height: 300px;
  width:300px;
  border-radius: 50%;
font-size:55px;
}
.round-button{
  color:white;
  margin-top:8px;
  cursor:pointer;
  height:65px;
  width:65px;
    font-size: 15px;
  background-image: url("button.png");
  background-size:cover;
border-radius:50%;
font-weight: bold;
text-align:center;
font-family:sans-serif;
border-color:#555;
border-style: solid;
}
.round-button-small{
     color:white;
  cursor:pointer;
    height:35px;
  width:35px;
border-radius:50%;
font-weight: bold;
text-align:center;
font-family:sans-serif;
margin-left:5px;
margin-right: 5px;
border-color:#555;
border-style: solid;
}


.top-buttons{
    text-align: center;
  }

.bottom-buttons-first-row{
  color:white;
  margin-top:15px;
  text-align:center;
  font-weight: bold;
  font-size:20px;
   text-shadow: 1px 1px #333333;
}
.bottom-text{
  text-align:center;
  font-weight:bolder;
  font-size: 25px;
   text-shadow: 1px 1px #333333;
}
.time-sets{
   color:white;
  margin-left:5px;
margin-right:17px;
   text-shadow: 1px 1px #333333;
}
.bottom-buttons{
  margin-top:2px;
  text-align:center;
  margin-bottom:8px;
}

footer{

  text-align:center;
  color: #FFF;
    font-family:sans-serif;
  font-weight:bold;
  font-size:20px;
  text-shadow: 1px 1px #333333;
}
