
body{
  background-color: gray;
  padding-top: 100px;
}

.center{
max-width:70%;
}
.display{
  background-color: black;
  font-family: sans-serif;
  font-weight:bold;
  height: 80px;
  width:240px;
  color: green;
font-size:55px;
}
